/* -- Global Styles -- */
:root{
    --light-blue: #39a6b2;
    --dark-blue: #024e76;
    --yellow: #fce138;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--light-blue);
    font-family: Helvetica, Arial, sans-serif;
}

section {
    padding: 60px;
}

.section-title{
    font-size: 55px;
    color: var(--dark-blue);
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
}

.primary-border{
    border-color: var(--yellow);
}

.secondary-border{
    border-color: var(--light-blue);
}

/* -- Header Section -- */
header{
    padding: 20px 35px;
    background-color: var(--light-blue);
}

header h1{
    font-weight: bold;
    font-size: 36px;
    color: var(--yellow);
    margin: 0;
    display: inline;
}

header a{
    text-decoration: none;
    color: var(--yellow);
}

header nav{
    float: right;
    margin: 7px 0;
}

header nav ul li{
    display: inline;
}

header nav ul li a{
    margin: 0 30px;
    font-weight: ligher;
    font-size: 22px;
}

/* -- Jumbotron Section --*/
.hero{
    background-image: url("../images/hero-bg.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-form{
    border: solid 3px var(--dark-blue);
    background-color: var(--yellow);
    padding: 20px;
    width: 500px;
    color: var(--dark-blue);
    position: absolute;
    bottom: 120px;
    right: 140px;
}

.hero-form h3{
    font-size: 24px;
    margin: 0;
}

.hero-form p{
    margin: 5px 0 15px 0;
}

.form-input{
    border: 1px solid var(--dark-blue);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--dark-blue);
    width: 100%;
    margin-bottom: 15px;
}

.hero-form label{
    margin: 0 5px;
}

.hero-form button{
    color: var(--yellow);
    background: var(--dark-blue);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

/* -- What we Do Section -- */
.intro{
    text-align: center;
}

.intro p{
    line-height: 1.7;
    color: var(--light-blue);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}

/* -- What You Do Section -- */
.steps{
    text-align: center;
    background: var(--yellow);
}

.steps div{
    margin-bottom: 80px;
}

.steps img{
    width: 15%;
    margin: 10px 0;
}

.steps h3{
    color: var(--dark-blue);
    font-size: 46px;
    margin-top: 10px;
}

.steps h3 span{
    font-size: 38px;
    text-transform: uppercase;
}

.steps p{
    color: var(--light-blue);
    font-size: 23px;
}

/* -- Footer Section -- */
footer {
    background: var(--yellow);
    width: 100%;
    padding: 40px 35px;
}

footer h2{
    display: inline;
    color: var(--dark-blue);
    font-size: 30px;
    margin: 0;
}

footer div{
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a{
    color: var(--dark-blue);
}