/* -- Global Styles -- */
:root{
    --light-blue: #39a6b2;
    --dark-blue: #024e76;
    --yellow: #fce138;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--light-blue);
    font-family: Helvetica, Arial, sans-serif;
}

section {
    padding: 60px;
}

.section-title{
    font-size: 55px;
    color: var(--dark-blue);
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.primary-border{
    border-color: var(--yellow);
}

.secondary-border{
    border-color: var(--light-blue);
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.flex-row{
    display: flex;
}

/* -- Header Section -- */
header{
    padding: 20px 35px;
    background-color: var(--light-blue);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    color: var(--yellow);
    margin: 0;

}

header a{
    text-decoration: none;
    color: var(--yellow);
}

header nav{
    margin: 7px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* -- Jumbotron Section --*/
.hero{
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-cta{
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.3;
}

.hero-cta h2{
    font-style: italic;
    font-size: 55px;
    color: var(--yellow);
}

.hero-form{
    border: solid 3px var(--dark-blue);
    background-color: var(--yellow);
    padding: 20px;
    color: var(--dark-blue);
    width: 40%;
    margin: 3.5%;
}

.hero-form h3{
    font-size: 24px;
    margin: 0;
}

.hero-form p{
    margin: 5px 0 15px 0;
}

.form-input{
    border: 1px solid var(--dark-blue);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--dark-blue);
    width: 100%;
    margin-bottom: 15px;
}

.hero-form label{
    margin: 0 5px;
}

.hero-form button{
    color: var(--yellow);
    background: var(--dark-blue);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

/* -- What We Do Section -- */

.intro p{
    line-height: 1.7;
    color: var(--light-blue);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}

/* -- What You Do Section -- */
.steps{
    background: var(--yellow);
}

.step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid var(--light-blue);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.step h3{
    color: var(--dark-blue);
    font-size: 46px;
    flex: 1 30%;
}

.step-info{
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.step-img{
    flex: 1 12%;
    margin-right: 20px;
}

.step-img img{
    max-width: 100%;
}

.step-text{
    flex: 12;
}

.step-text h4{
    font-size: 26px;
    line-height: 1.5;
    color: var(--dark-blue);
}

.step-text p{
    color: var(--light-blue);
    font-size: 18px;
}

/* -- Trainers Section -- */
.trainers{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.trainer{
    margin: 20px;
    background: var(--dark-blue);
    color: var(--yellow);
    flex: 1;
}

.trainer img{
    width: 100%;
}

.trainer-bio{
    padding: 25px;
    line-height: 1.3;
}

.trainer-bio h3{
    font-size: 28px;
}

.trainer-bio h4{
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
}

.trainer-bio p{
    font-size: 17px;
}

/* -- Reach Out Section -- */
.contact {
    background: var(--dark-blue);

}

.contact h2 {
    color: var(--yellow);
}

.contact-info iframe{
    width: 400px;
    height: 400px;
}

.contact-info div{
    display: inline-block;
    width: 410px;
    vertical-align: top;
    text-align: left;
    margin: 30px 0 0 60px;
    color: white;
}

.contact-info h3{
    color: var(--yellow);
    font-size: 32px;
}

.contact-info p, .contact-info address{
    margin: 20px 0;
    line-height: 1.5;
    font-size: 20x;
    font-style: normal;
}

.contact-info address a{
    color: var(--yellow);
}

/* -- Footer Section -- */
footer {
    background: var(--yellow);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2{
    color: var(--dark-blue);
    font-size: 30px;
    margin: 0;
}

footer div{
    line-height: 1.5;
    text-align: right;
}

footer a{
    color: var(--dark-blue);
}